@import "Common";

$beamColor: #0F364C;
$beamBoardsColor: #0A2433;
$beamTextColor: #3D7799;
$beamHeight: 50px;

#beam {
    @include reset-position;

    background-color: $beamColor;
    color: $beamTextColor;
    height: $beamHeight;
    width:100%;
    min-width: 470px;
    position: relative;
    display: flex;

    #sidePanelTrigger{
        width: 20%;
        max-width: 250px;
        min-width: 155px;
        height: $beamHeight;
        background-color: $beamBoardsColor;
        text-align: center;
        cursor: pointer;
        margin: 0;
        float:left;

        &:hover{
            background-color: #123F59;
        }
    }

    #addMenuTrigger{
        span{
            display: inline-block;
            width: 40px;
            height: 40px;
            background-image: url('../Assets/addboard.png');
            margin-top: 6px;
        }

        &:hover{
            background-color: #E5B572;
        }
    }

    #addMenu{
        position: absolute;
        top: $beamHeight;
        left: 20%;
        background-color: #E5B572;
        width: 70%;
        height: 350px;
        z-index: 999;

        h3{
            margin-left: 20px;
        }

        a{
            color: #4C3617;
        }

        ul{
            padding: 0;
        }

        ul li{
            display: inline-block;
            list-style-type: none;

            a section{
                text-align: center;
                display: inline-block;
                margin-left: 20px;
            }
        }

        .return{
            display: block;
            width: 30px;
            height: 30px;
            background-image: url('../Assets/arrow_back.png');
            background-size: 30px 30px;
        }

        #add_title{
        }
    }

    #beamHomeLink{
        margin-top:16px;
        margin-left: 10px;
    }

    p{
        display: inline-block;
    }

    aside{
        display: inline-block;
        position: absolute;
        right: 20px;
        height: 100%;

        p{
            position: relative;
            top: -10px;
            left: -10px;
        }

        span{
            display: inline-block;
            width: 80px;
            height: 100%;
            text-align: center;
            &:hover{
                background-color: $beamTextColor;
            }
        }

    }

    #beam_profile_pic {
        display: inline-block;
        height:40px;
        top: 5px;
        position: relative;
    }

    #userMenu{
        position: absolute;
        right: 0;
        width: 140px;
        top: 50px;
        background-color: $beamTextColor;
        display:none;
        z-index: 999;

        ul {
            margin-left: 10px;
            color: $beamColor;
            padding: 0;
            li{
                list-style-type: none;
            }
        }

    }

}

@media screen and (min-width: 787px) and (max-width: 1249px){
    #beam #addMenu{
        left: 20%;
        margin-left: 0;
    }
}

@media screen and (max-width: 786px){
    #beam #addMenu{
        margin-left: 155px;
        left: 0;
    }
}

@media screen and (max-width: 480px){
    #beam #addMenu {
        text-align: center;
        width: 325px;

        h3, ul li a section{
            margin-left:0;
        }
    }
}

@media screen and (min-width: 1250px){
    #beam #addMenu {
        left: 0;
        margin-left: 250px; 
    }
}