@import "Common";

$beamColor: #0F364C;
$beamBoardsColor: #0A2433;
$beamTextColor: #3D7799;
$beamHeight: 50px;

#beam {
    @include reset-position;

    background-color: $beamColor;
    color: $beamTextColor;
    height: $beamHeight;
    width:100%;
    min-width: 470px;
    position: relative;
    display: flex;

    #sidePanelTrigger{
        width: 20%;
        max-width: 250px;
        min-width: 155px;
        height: $beamHeight;
        background-color: $beamBoardsColor;
        text-align: center;
        cursor: pointer;
        margin: 0;
        float:left;

        &:hover{
            background-color: #123F59;
        }
    }

    #beamHomeLink{
        margin-top:16px;
        margin-left: 10px;
    }

    p{
        display: inline-block;
    }

    aside{
        display: inline-block;
        position: absolute;
        right: 20px;
        height: 100%;

        p{
            position: relative;
            top: -8px;
            left: -10px;
        }

        #loggedOutParagraph{
            top: -2px;
        }

        span{
            display: inline-block;
            width: 80px;
            height: 100%;
            text-align: center;
            &:hover{
                background-color: $beamTextColor;
            }
        }

    }

    #beam_profile_pic {
        display: inline-block;
        height:40px;
        top: 5px;
        position: relative;
    }

    #userMenu{
        position: absolute;
        right: 0;
        width: 140px;
        top: 50px;
        background-color: $beamTextColor;
        display:none;
        z-index: 999;

        ul {
            margin-left: 10px;
            color: $beamColor;
            padding: 0;
            li{
                list-style-type: none;
            }
        }

    }

}