$iconSize : 20px;

.board{
    position: relative;
    left: 20px;

    h2{
        display: inline-block;
    }

    span{
        display: inline-block;
        width: $iconSize;
        height: $iconSize;
        background-size: $iconSize $iconSize;
        margin-left: 10px;
    }

    #addListTrigger{
        display: inline-block;
        width: 40px;
        max-width: 40px;
        height: 40px;
        background-image: url('../Assets/addList.png');
        background-color: #99723D;
        //margin-top: 6px;
        &:hover{
            background-color: #E5B572;
        }
    }

    #addListItemTrigger{
        display: inline-block;
        width: 40px;
        max-width: 40px;
        height: 40px;
        background-image: url('../Assets/addboard.png');
        background-color: #4C3617;
        margin-left: 10px;
        &:hover{
            background-color: #E5B572;
        }
    }

    #editBoardTitle{
        background-image: url('../Assets/editIcon.png');
    }

    #saveBoardTitle{
        background-image: url('../Assets/saveIcon.png');
    }

    #cancelBoardTitle{
        background-image: url('../Assets/cancelIcon.png');
    }

    .editListTitle{
        background-image: url('../Assets/editListIcon.png');
    }

    .saveListTitle{
        background-image: url('../Assets/saveListIcon.png');
    }

    .cancelListTitle{
        background-image: url('../Assets/cancelListIcon.png');
    }

    .editListItemTitle{
        background-image: url('../Assets/editIcon.png');
    }

    .saveListItemTitle{
        background-image: url('../Assets/saveIcon.png');
    }

    .cancelListItemTitle{
        background-image: url('../Assets/cancelIcon.png');
    }
    #removeBoard{
        background-image: url('../Assets/deleteIcon.png');
    }

    .removeListItem{
        background-image: url('../Assets/cancelIcon.png');
    }

    .hidden{
        display: none;
    }

    #favBoard{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../Assets/star.png');
        background-size: 20px 20px;

        &:hover{
            background-image: url('../Assets/star_active.png');
        }
    }


}

section.list {
    float:left;
    overflow: hidden;
    width: 270px;
    margin-right: 2%;
    border-radius: 6px;
    background-color: #4C3617;
    color: #FFF4CC;

    h3{
        display: block;
        margin-left: 10px;
    }
}

section.listItem {
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    background-color: #7F5F33;
}