$iconSize : 20px;

.board{
    position: relative;
    left: 20px;

    h2{
        display: inline-block;
    }

    span{
        display: inline-block;
        width: $iconSize;
        height: $iconSize;
        background-size: $iconSize $iconSize;
        margin-left: 10px;
    }

    #editBoardTitle{
        background-image: url('../Assets/editIcon.png');
    }

    #saveBoardTitle{
        background-image: url('../Assets/saveIcon.png');
    }

    #cancelBoardTitle{
        background-image: url('../Assets/cancelIcon.png');
    }

    .hidden{
        display: none;
    }
}

section.list {
    float:left;
    overflow: hidden;
    width: 270px;
    margin-right: 2%;
    border-radius: 6px;
    background-color: #4C3617;
    color: #FFF4CC;

    h3{
        display: block;
        margin-left: 10px;
    }
}

section.listItem {
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    background-color: #7F5F33;
}