$iconSize: 20px;

#DetailsBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFF4CC;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
    color: #4C3617;
    width: 70%;

    h2{
        display: block;
        margin: 0;
        padding: 5px;
    }

    section{
        display: inline-block;
        width: 75%       
    }

    aside{
        float:right;
        width: 20%px;
        margin-right: 5px;

        h3{
            background-color: #4C3617;
            color: #FFF4CC;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
        }
    }

    .closePanel{
        float: right;
        width: $iconSize;
        height: $iconSize;
        background-image: url('../Assets/cancelIcon.png');
        background-size: $iconSize $iconSize;
        margin: 5px 5px 0 0;
    }

    #itemLocation{
        display: block;
        font-size: 0.8em;
        font-style: italic;
        position: relative;
        top: -10px;
        left: 35px;
    }

    textarea{
        display: inline-block;
        width:70%;
        margin-left: 10px;
        border-radius: 10px;
        padding: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #addCommentSubmit{
        margin: 10px;
    }

}

#AddLabelBox {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    height: 400px;
    background-color: #FFF4CC;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
}

.colorBox{
    width: 80% !important;
    height: 30px !important;
    border-radius: 3px !important;
    display: block !important;
    margin-top: 10px;
    text-align: right;

    p{
        text-shadow: 0 0 4px black, 0 0 0.2em black;
        color: white;
        margin-right: 5px;
        width: 100%;
        height: 100%;

        &:hover{
            border-width: 1px;
            border-left-width: 5px;
            border-style: solid;
        }
    }
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: purple;
}

.blue{
    background-color: blue;
}