section.list {
    float:left;
    overflow: hidden;
    width: 270px;
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    background-color: #4C3617;
    color: #FFF4CC;

    h3{
        display: block;
        margin-left: 10px;
    }
}